@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<p>Gabriel Batista Araujo Almeida</p>

<address>
    <strong>Email:</strong> <p>gbaa98@gmail.com</p>
    <strong>Celular:</strong> <p>(31)98812-7202</p>
</address>
