@{
    ViewData["Title"] = "Página Inicial";
}

    <link rel="stylesheet" type="text/css" href="\css\layout.css">

    <body>
        <div id="principal">
            <div class="efeito">
                <div class="container">
                    <h1>Sistema para Garçom</h1>
                </div>
            </div>
        </div>
    </body>




